<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiuyescm.fescartest.transport.mapper.TransportMapper">
    <select id="findById" resultType="org.jiuyescm.fescartest.transport.api.vos.TransportVO">
        select t_base.* from tms_transport t_base where t_base.id=#{id}
    </select>
    <select id="findTest" resultType="map">
        select t_base.* from tms_transport_order t_base where t_base.id=#{id}
    </select>
    
    <insert id="insert">
        insert into tms_transport(weight, order_id,  route_id,  update_dt)
        values(#{weight}, #{orderId}, #{routeId}, now())
    </insert>
    <delete id="delete">
        delete from tms_transport where id=#{id}
    </delete>
    <update id="update">
        update tms_transport set 
        <set>
        	<if test="orderId != null">order_id=#{orderId},</if>
        	<if test="routeId != null">route_id=#{routeId},</if>
        	<if test="weight != null">weight=#{weight},</if>
        	<if test="updateDt != null">update_dt=#{updateDt},</if>
        </set>
        where id=#{id}
    </update>
</mapper>