<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiuyescm.fescartest.route.mapper.RouteMapper">
	<resultMap id="baseResultMap" type="org.jiuyescm.fescartest.route.api.vos.RouteVO" >
        <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="weight" property="weight" jdbcType="INTEGER" />
	    <result column="update_dt" property="updateDt" jdbcType="TIMESTAMP" />
    </resultMap>
    
    <select id="findById" resultType="org.jiuyescm.fescartest.route.api.vos.RouteVO">
        select t_base.* from tms_route t_base where t_base.id=#{id}
    </select>
    
    <insert id="insert">
        insert into tms_route( weight, update_dt)
        values( #{weight}, now())
    </insert>
    <delete id="delete">
        delete from tms_route where id=#{id}
    </delete>
    <update id="update">
        update tms_route  
        <set>
        	<if test="weight != null">weight=#{weight},</if>
<!--         	<if test="updateDt != null">update_dt=#{updateDt},</if> -->
        	update_dt=(select test_update_dt from  tms_test where id=2 ) 
        </set>
        where id=#{id}
    </update>
</mapper>