<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.jiuyescm.fescartest.route.mapper.RouteMapper">
    <select id="findById" resultType="org.jiuyescm.fescartest.route.api.vos.RouteVO">
        select t_base.* from tms_route t_base where t_base.id=#{id}
    </select>
    
    <insert id="insert">
        insert into tms_route( weight, update_dt)
        values( #{weight}, now())
    </insert>
    <delete id="delete">
        delete from tms_route where id=#{id}
    </delete>
    <update id="update">
        update tms_route set 
        <set>
        	<if test="weight != null">weight=#{weight},</if>
        	<if test="updateDt != null">update_dt=#{updateDt},</if>
        </set>
        where id=#{id}
    </update>
</mapper>